<ion-header>
  <ion-navbar color="gymHeader">
    <button ion-button menuToggle>
      <ion-icon name="navbar"></ion-icon>
    </button>
    <ion-title text-center>Logout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding color="gymContent">
  <div>
    <h1 style="color:black; text-align: center;">Are you sure you want to log out?</h1>
    <ion-grid>
        <ion-row>
          <ion-col>
              <button class="buttonMargin mt-15" style="background-color: #ff5e3a" ion-button full round (click)="btnYes()">Yes</button>
          </ion-col>
          <ion-col>
              <button class="buttonMargin mt-15" style="background-color: #ff5e3a" ion-button full round (click)="btnNo()">No</button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
