page-my-progress {

    .ion-ios-navbar,.ion-md-navbar {
        content: url('../../assets/icon/all_icons/nav-bar.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }

    .view-graph-btn{
        font-size: 12px;
        
     }

     .position-relative {
      position: relative;
    }
    button.add-btn-profile {
      position: absolute;
      bottom: -10px;
      left: 50%;
      background: #ff5e3a;
      color: #fff;
      border-radius: 50px;
      padding: 13px;
  }
  .p-0.card-4.grid {
    padding: 0;
}
.p-0.card-4.grid .card  {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
input {
  color: #535353!important;
}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

.card-header {
  background: url('../../assets/icon/all_icons/drop-down-arrow.png') #f4f4f4 90% center no-repeat;
  color: gray;
  text-transform: uppercase;
  font-size: 14px;
}

}

.my-progress-unit{
  text-align: right;
}

.assessment-info ion-grid.grid {
  position: relative;
}
.my-progress-unit {
  position: absolute;
  right: 0;
  bottom: 0;
}


//page css for form fild
.scroll-content {
  padding: 0 !important;
}
.p-0 {
  padding: 0;
}

.border-bottom-gray {
  border-bottom: 2px solid #e5e5e5;
}
.profile-info .label span {
  text-transform: lowercase;
}

.segment-md-danger .segment-button {
  font-size: 14px;
  color: #535353;
  padding: 0;
}
.text-left {
  text-align: left;
  font-size: 12px;
  text-transform: uppercase;
  color: #535353;
}
.border-right::before { 
  content: "/";
  position: absolute;
  right: 0;
  top: 33%;
  z-index: 999;
}
.btn-vla {
  text-transform: capitalize;
  border: 1px solid #f53d3d;
  border-radius: 20px;
  margin: 15px 0 0 15px;
  display: block;
}
.position-relative {
  position: relative;
}
.height-info {
  position: absolute;
  top: 20px;
  right: 17px;
  z-index: 999;
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
}
.border-right::before {
  color: #999;
}
}
