<!--
  Generated template for the AddMyProgressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="gymHeader">
    <ion-title>MY PROGRESS</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding color="gymContent">

  <ion-grid *ngFor="let criteria of progressCriteria">
    <ion-row>
      <ion-col>
        <div><ion-checkbox [checked]="isChecked" (ionChange)="onCheck(criteria)"></ion-checkbox></div>
      </ion-col>
      <ion-col>
        <div>{{criteria.name}}</div>
      </ion-col>
      <!--<ion-col>
        <div><button ion-button clear (click) = "deleteCriteria(criteria)"><ion-icon name="close"></ion-icon></button></div>
      </ion-col>-->
    </ion-row>
  </ion-grid>

</ion-content>