page-my-calender {

  .divCalendar {
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    //margin-bottom: 16px;
    margin-bottom: 10px;
}
.divButton{
  padding-top: 80px;
}
.ion-ios-navbar,.ion-md-navbar {
  content: url('../../assets/icon/all_icons/nav-bar.png');
  width: 32px;
  height: 32px;
  padding: 6px 4px 2px;
  opacity: 0.9;
}
.border-bottom {
  border-bottom: 1px solid #ccc;
  //margin-bottom: 32px;
  margin-bottom: 15px;
  margin-left: -16px;
  margin-right: -16px;
  width: 110%;
  margin-top: -16px;
}
.divButton {
  padding: 5px 16px!important;
}

   /* [col-1] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 14.285714285714286%;
        width: 14.285714285714286%;
        max-width: 14.285714285714286%;
      }
      .col {
        text-align: center;
        padding: 5px;
      }
      .last-month, .next-month {
        color: #999999;
        font-size: 90%;
      }
      .currentDate, .otherDate {
        padding: 5px;
      }
      .currentDate {
        font-weight: bold;
        background-color: red;
        color: white;
        border-radius: 30px;
      }
      .calendar-header {
        background-color: #1a732d;
        color: #FFFFFF;
      }
      .event-bullet {
        margin: 2px auto;
        height: 5px;
        width: 5px;
        background-color: green;
        border-radius: 30px;
      }
      .selected-date {
        width: 20px;
        height: 2px;
        background-color: blue;
      }
      .unselected-date {
        border: none;
      }
      .calendar-body {
        .grid {
          padding: 0;
        }
        .col:last-child {
          border-right: none;
        }
        .calendar-weekday, .calendar-date {
          text-align: center;
          margin: 0;
        }
        .calendar-weekday {
          font-weight: bold;
          border-bottom: solid 1px #1a732d;
          background-color: #26ab56;
        }
        .calendar-date {
          border-top: solid 1px #1a732d;
          border-bottom: solid 1px #1a732d;
        }
      }*/

      .text-center-80 span {
        position: absolute;
        bottom: 0;
        background: #f4f4f4;
        padding: 5px 10px;
        border-radius: 15px;
        width: 54%;
        left: 20%;
        text-align: center;
    }
    .text-center-80 {
      width: 105px;
      margin: 0 auto;
      height: 75px;
      position: relative;
  }
  .m-17 {
    margin: -17px 0 17px 0;
  }
}