page-my-progress-tabs {

    .ion-ios-menu_calendar,.ion-md-menu_calendar, .ion-ios-menu_calendar-outline {
        // content: url('../assets/icon/menuIcon/c-my\ calendar.png');
        content: url('../assets/icon/all_icons/calenda.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 1.0;
    } 

    .ion-ios-menu_home,.ion-md-menu_home, .ion-ios-menu_home-outline {
        //content: url('../assets/icon/menuIcon/b-home.png');
        content: url('../assets/icon/all_icons/home-icon.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 1.0;
    }
     .ion-ios-menu_progress,.ion-md-menu_progress,  .ion-ios-menu_progress-outline{
        // content: url('../assets/icon/menuIcon/d-track\ progress.png');
        //content: url('../assets/icon/all_icons/progress-icon.png');
        content: url('../assets/icon/all_icons/graph-icon.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 1.0;
    }

}
