page-more-info-about-exercise-next {
    .p-0 p {
        padding: 0;
        margin: 0;
    }
    .p-0 {
        padding: 0;
    }
    .m-0 {
        margin: 0;
    }
    .line-height-0 {
        line-height: 0;
    }
    .py-10 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .pb-10 {
        padding-bottom: 10px;
    }
    .font-weight-bold {
        font-family: 'AvenirLTStd-Black';
    }
    .toolbar-ios ion-title {
        top: -30px;
    }

    //css for inner pages header design
    .toolbar-title {
        overflow: inherit;
        text-overflow: inherit;
        white-space: inherit;
    }
    .p-0 .toolbar-title {
        padding: 0;
        margin: 0;
        font-size: 1.8rem;
        text-align: center;
    }
    button.button.button-clear {
        //height: 18px;
    }
}
