page-my-workout-plan-today {

    .ion-ios-navbar,.ion-md-navbar {
        content: url('../../assets/icon/all_icons/nav-bar.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }
      
    .workout-header{
        padding-left: 0;
        padding-right: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        border-top: 1px solid #ededed !important;
        border-bottom: 1px solid #ededed !important;
    }

    .button-left{
        // left: -18px;
        // top: -6px;
        height: 2.1em;
        left: 0;
        // top: 0;
        top: -7px;
        // color: white;
        // background-color: white;
        //position: fixed;
        float: left;
        background: transparent;
        box-shadow: none;
    }
    
    .button-right{
        // right: -18px;
        // top: -6px;
        height: 2.1em;
        float: right;
        right: 0;
        // top: 0;
        top: -7px;
        background: transparent;
        box-shadow: none;
        //position: fixed;
    }

    .button-md-light, .button-ios-light {
        //color: white; 
        color: #ff5e3a;
        //background-color: #f4f4f4;
    }
    
    .icon-nutrition{
        //font-size: 28px;
        font-size: 25px;
    }

    .card-vertical{
    background: white;
    box-shadow: none;
    /* border-bottom: solid; */
    border-bottom: 1px solid #dcdcdf;
    padding-left: 0;
    padding-right: 0;
    }
    .bottom-text{
        text-align: center;
    }

    .checkbox-right {
        //padding-left: 280px;
        top: 0px;
        padding-left: inherit;
    }
    // .checkbox-right{
    //     right: -8px!important;
    // }
    // .checkbox-right {
    //     right: -29px;
    // }
    .button-right{
        padding-left: 252px;
        //top: 25px;
    }
    .see-more-position{
        padding-left: 226px;
        padding-top: 0px;
    }
    // .checkbox-right-superset{
    //     position: absolute;
    //     z-index: 999;
    //     //right: 10px;
    //     //right: 29px;
    //     right: 23px;
    //     //top: 100px;
    //     top: 75px;
    // }
    .superset-marking {
        position: relative;
        top: 0px;
    }
    // .superset-marking label {
    //     padding-left: 0;
    //     position: absolute;
    //     right: 0;
    //     top: 30px;
    // }
    .grid-position{
        padding-top: 0px;
        
    }
    .float-right {
        float: right;
        position: absolute;
    }
    .float-left {
        float: left;
        position: absolute;
    }
    .position-relative {
        position: relative;
    }
    .mt-0 {
        margin-top: 0!important;
    }

    .checkbox-md .checkbox-icon {
        width: 22px;
        height: 22px;
    }
    .checkbox-md .checkbox-checked .checkbox-inner {
        left: 6px;
        top: 3px;
    }

    //---------//

    .checkbox-md .checkbox-icon {
        width: 22px;
        height: 22px;
    }

    .checkbox-right-superset, .checkbox-right{
        position: absolute;
        z-index: 999;
        right: 0;
        top: 0;
    }

     .superset-marking label {
        padding-left: 0;
        position: absolute;
        right: 0;
        top: 30px;
    }
    }
    

