page-view-past-dues-and-payments {
    .payment-header{
        color: #8ed0ff;
        font-size: 30px;
        text-align: center;
    }

    .pay-dues {
        border: 2px;
        border-style: solid;
        border-color: black;
        border-radius: 8px;
    }
}
