page-track-progress {

    /*.chart-wrapper {
        margin: 1em 2em;
     }*/
   //   canvas  {
   //      height: 500px;
   //   }

     .track-Progress-header{
        background-color: white;
        //color: white;
        
        
      }
      
     /* .segment-md .segment-button.segment-activated {
         border-color:white;
         color: white;
         opacity: 1;
     }

     .segment-md .segment-button {
      //border-color:white;
      color: white;
      opacity: 1;
  }
*/
  .my-progress-btn{
     font-size: 12px;
  }

  button.segment-activated {
   border-color: #f53d3d;
   color: #f53d3d;
   opacity: 1;
}
.segment-md-danger .segment-button {
   color: #343434;
}

.my-custom-menu {
   --width: 500px;
 }
 .input-wrapper {
   background-color: #f4f4f4;
   padding-left: 34px;
   text-align: left;
   width: 100%;
   padding-top: 10px;
   padding-bottom: 10px;
   height: 100%;
   border-bottom: solid #c8c7cc;
}
.icon-position{
   position: absolute;
    right: 30px;
    color: #c8c7cc;
}
.graph-fild {
   padding: 0;
}
.graph-fild a, .graph-fild a .item-inner {
   padding: 0!important;
}
  
}
