page-payments-dues {
    .ion-ios-navbar,.ion-md-navbar {
        content: url('../../assets/icon/all_icons/nav-bar.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }
      
        .segment-md-danger .segment-button {
            font-size: 14px;
            color: #535353;
            padding: 0;
        }

        table { 
          width: 100%; 
          border-collapse: collapse; 
        }
        /* Zebra striping */
        tr:nth-of-type(odd) { 
          background: #eee; 
        }
        th { 
          background: #f4f4f4; 
          color: black; 
          font-weight: bold; 
        }
        td, th { 
          padding: 6px; 
          //border: 1px solid #ccc; 
          //text-align: left; 
          font-size: 10px;
          text-align: center;
        }
      
        .payment-grid{
          border-bottom: 1px solid #dcdcdf;
        }
        .checkbox-css {
          top: 17px;
          /* position: relative; */
      }
      table>thead>tr>th {
        color: white; background:#ff5e3a;
      }
}
