<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="gymHeader">
    <button ion-button menuToggle>
      <ion-icon name="navbar"></ion-icon>
    </button>
    <ion-title text-center>CHANGE PASSWORD</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding color="gymContent">
  <form [formGroup]="changePasswordForm">

    <!-- <ion-grid>
      <ion-row>
        <ion-col>
          <div style="padding-bottom: 2px;"><img style="display:block; margin-left: auto; margin-right: auto; border-radius: 50%;"
              src="../../assets/imgs/64-64.png" width="84" height="84" /></div>
          <div>
            <h3 style="text-align: center;">{{name}}</h3>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    <ion-grid class="pwd-fild">
      <ion-item>
        <ion-label color="gray" floating>CURRENT PASSWORD</ion-label>
        <ion-input type="password" style="color:#535353;" formControlName="oldpassword"></ion-input>
      </ion-item>
      <ion-grid class="validation-errors" style="color:#FF0000">
        <ion-row>
          <ng-container *ngFor="let validation of validation_messages.oldpassword">
            <ion-col col-12 class="error-message" *ngIf="changePasswordForm.get('oldpassword').hasError(validation.type) && (changePasswordForm.get('oldpassword').dirty || changePasswordForm.get('oldpassword').touched)">
              {{ validation.message }}
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label color="gray" floating>NEW PASSWORD</ion-label>
        <ion-input type="password" style="color:#535353;" formControlName="password"></ion-input>
      </ion-item>
      <ion-grid class="validation-errors" style="color:#FF0000">
        <ion-row>
          <ng-container *ngFor="let validation of validation_messages.password">
            <ion-col col-12 class="error-message" *ngIf="changePasswordForm.get('password').hasError(validation.type) && (changePasswordForm.get('password').dirty || changePasswordForm.get('password').touched)">
              {{ validation.message }}
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label color="gray" floating>CONFIRM PASSWORD</ion-label>
        <ion-input type="password" style="color:#535353;" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <ion-grid class="validation-errors" style="color:#FF0000">
        <ion-row>
          <ng-container *ngFor="let validation of validation_messages.confirmPassword">
            <ion-col col-12 class="error-message" *ngIf="changePasswordForm.get('confirmPassword').hasError(validation.type) && (changePasswordForm.get('confirmPassword').dirty || changePasswordForm.get('confirmPassword').touched)">
              {{ validation.message }}
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>

      <button class="buttonMargin cRadius btn" style="font-size: larger; color: white; background-color: #ff5e3a;"
          ion-button full (click)="changePassword(changePasswordForm.value)" [disabled]="!changePasswordForm.valid">UPDATE</button>
    </ion-grid>
  </form>


</ion-content>