<!--<ion-menu [content]="content" *ngIf = "isMyProfilePage">-->
<ion-menu [content]="content" id="menu1">
  <ion-header>
    <!-- <ion-toolbar color="sideMenuHeader"> -->
      <!-- <ion-title> -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <!-- <div><img style="display:block; margin-left: auto; margin-right: auto; border-radius: 50%;" src="../../assets/imgs/64-64.png" width="84" height="84"></div> -->
             <div><img style="display:block; margin-left: auto; margin-right: auto; border-radius: 50%;" [src]="customerImageUrl!= null ? customerImageUrl : defaultImageUrl" width="84" height="84"></div>
            </ion-col>
            <ion-col>
              <div>
                <h4>{{ customerName == null ? ' ' : customerName}}</h4>
              </div>
              <div>
                <h6 style="font-size: 1.2rem; text-align: left; color: gray;">Member since: {{ memberSince == null ? ' ' : memberSince | date:'MMMM  y'}}</h6>
              </div>
              <!-- <div>
                <button ion-button round color="light" (click)="navigateToMyProfile()">My Profile</button>
              </div> -->
            </ion-col>
          </ion-row>
          <!--<ion-row>
            <ion-col>
              <h4>Details</h4>
            </ion-col>
            <ion-col>
              <button ion-button class="bottom-right" (click)="navigateToMyProfile()" color="light" clear icon-only>
                <ion-icon name='md-arrow-dropdown' is-active="false"></ion-icon>
              </button>
            </ion-col>
          </ion-row>-->
        </ion-grid>


      <!-- </ion-title> -->
    <!-- </ion-toolbar> -->
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" menuClose (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>