<!--
  Generated template for the MealPlanForCurrentDatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button class="custom-nav-icon" ion-button menuToggle>
      <ion-icon name="navbar"></ion-icon>
    </button>
    <ion-title text-center>MY MEAL PLAN</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-header>
    <ion-navbar color="gymHeader">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title text-center>MY MEAL PLAN</ion-title>
    </ion-navbar>
  </ion-header> -->

<!--<ion-content padding class="bg-image">-->
<ion-content padding color="gymContent">
  <ion-grid class="meal-plan-header">
    <hr>
    <ion-slides>
      <ion-slide (swipe)="swipeEvent($event)">
        <div text-center>
          <button size="large" class="button-left float-left" ion-button color="light" small icon-start
            (click)="previousButton(selectedDate)">
            <ion-icon class="icon-nutrition" name='ios-arrow-dropleft-circle'></ion-icon>
          </button>
          <div text-center class="date-header">
            {{selectedDate | date:'EEEE, d MMMM y'}}
          </div>
          <button size="large" class="button-right float-right" ion-button color="light" small icon-end
            (click)="nextButton(selectedDate)">
            <ion-icon class="icon-nutrition" name='ios-arrow-dropright-circle'></ion-icon>
          </button>
        </div>
        <!-- <div text-center class="date-header">
          {{selectedDate | date:'EEEE, d MMMM y'}}
        </div> -->
      </ion-slide>
    </ion-slides>
    <!-- <ion-slides>
      <ion-slide (swipe)="swipeEvent($event)">
        <div text-center class="date-header">
          {{selectedDate | date:'EEEE, d MMMM y'}}
        </div>
      </ion-slide>
    </ion-slides> -->
    <!-- <ion-row>
        <ion-col col-12 style="font-size: 16px; text-align: center;">
          <div text-center>
              <button size="large" class="button-left float-left" ion-button color="light" small icon-start
              (click)="previousButton(selectedDate)">
              <ion-icon class="icon-nutrition" name='ios-arrow-dropleft-circle'></ion-icon>
              </button>
              <div text-center class="date-header">
                  {{selectedDate | date:'EEEE, d MMMM y'}}
              </div>
              <button size="large" class="button-right float-right" ion-button color="light" small icon-end
                (click)="nextButton(selectedDate)">
                <ion-icon class="icon-nutrition" name='ios-arrow-dropright-circle'></ion-icon>
              </button>
          </div>
        </ion-col>
      </ion-row> -->

    <hr>
  </ion-grid>
  <!--<button ion-button block (click)="presentLoading()">Show Loading</button>-->
  <!-- <ion-grid>
      <ion-item class="nutrition-plan-header">
        {{selectedDate | date:'fullDate'}}
      </ion-item>
    </ion-grid> -->

  <ion-grid class="p-0">
    <div>
      <ion-segment [(ngModel)]="selectedSegment" color="danger">
        <ion-segment-button value="plan">
          Plan
        </ion-segment-button>
        <ion-segment-button value="guide">
          Guide
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="selectedSegment" class="workout-box">
      <ion-list *ngSwitchCase="'plan'" class="card-background-page">
        <!-- <ion-list > -->
        <ion-grid class="line">
          <span class="font-change">{{Name}}</span>
          <span>{{Desc}}</span>
        </ion-grid>

        <ion-grid>
          <ion-row class="line" *ngFor="let meal of mealDetails; let i = index">
            <ion-col col-4>
              <div class="meal-icon" *ngFor="let icon of meal_icon; let j = index">
                <div *ngIf="i === j">
                  <img [src]="icon.mealImg" />
                </div>
              </div>
            </ion-col>
            <ion-col col-8>
              <ion-grid>
                <span class="font-change">{{meal.mealType}}</span>
                <ion-grid *ngFor="let food of meal.foodItem.foodItem">
                  <span>{{food}}</span>
                </ion-grid>
              </ion-grid>
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-list>
      <ion-list *ngSwitchCase="'guide'" class="card-background-page">

        <ion-grid padding>
          <button class="buttonMargin cRadius btn mt-0" ion-button style="background-color:#ff5e3a"
            (click)="generatePDF()">VIEW PDF</button>
        </ion-grid>


      </ion-list>
    </div>

  </ion-grid>



</ion-content>