<!--
  Generated template for the GraphPackageConsumptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>graph-package-consumption</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card padding-top=10px>
    <ion-card-header>Package Consumption</ion-card-header>
    <ion-card-content>
      <canvas #pieChart></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>