page-more-info-about-exercise {
    .icon-md-danger {
        color: #f53d3d;
        font-size: xx-large;
    }
    .btn-center button {
        width: 180px;
        margin: 0 auto;
        display: block;
        border: 1px solid;
        border-radius: 20px;
        height: 40px;
    }
    .btn-center button span {
        padding-left: 5px;
    }
    .p-0 p {
        padding: 0;
        margin: 0;
    }
    .p-0 {
        padding: 0;
    }
    .m-0 {
        margin: 0;
    }
    .line-height-0 {
        line-height: 0;
    }
    .py-10 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .pb-10 {
        padding-bottom: 10px;
    }
    .font-weight-bold {
        font-family: 'AvenirLTStd-Black';
    }

    .information-icon{
        color: #f53d3d;
        font-size: 40px;
    }
    //css for inner pages header design
    .toolbar-title {
        overflow: inherit;
        text-overflow: inherit;
        white-space: inherit;
    }
    .p-0 .toolbar-title {
        padding: 0;
        margin: 0;
        font-size: 1.8rem;
    }
    button.back-button {
        position: absolute!important;
        top: 9px!important;
        left: 0!important;
        z-index: 999;
    }
    button.info-button {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999;
    }
    ion-title.title div {
        padding: 0 60px;
    }
    .toolbar-title-ios {
        text-align: left;
    }
    .toolbar-ios {
        padding: 0;
        padding-left: 0;
        padding-right: 0;
        min-height: 66px;
    }
    button.back-button.back-button-ios, button.info-button.button-clear-ios {
        top: 20px!important;
    }
}
