<ion-header>
  <ion-navbar color="gymHeader">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>TODAY'S WORKOUT</ion-title>
  </ion-navbar>
</ion-header>

<!--<ion-content padding class="bg-image">-->
<ion-content padding color="gymContent">
  <!--Ipsita-->
  <div class="divCalendar">
    <ion-calendar #calendar lang="en" [events]="currentEvents" (onDaySelect)="onDaySelect($event)"></ion-calendar>
  </div>

  <ion-grid>
    <ion-item class="ion-date">
      {{todaysDate | date:'longDate'}}
    </ion-item>
  </ion-grid>


  <ion-list>
    <button ion-item class="workouts-nav" *ngFor="let workout of workouts" (click)="openNavDetailsPage(workout)"
      icon-start>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-img width="30" height="30" src="../../assets/icon/workout.png"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div> {{ workout.name }}</div>
          </ion-col>
          <ion-col>
            <div><ion-buttons end><button ion-button clear small end style="color: #f1f3f4" >
                <ion-icon name="eye" style="color: #4084dd;"></ion-icon>
              </button></ion-buttons>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div align="center">{{ workout.description }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </button>
  </ion-list>





</ion-content>