<!--
  Generated template for the MyCalendarTabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs color="gymHeader">
  
  <ion-tab [root]="myCalenderRoot" tabIcon="calendar" tabTitle="Calendar" [rootParams]="calendarParams"></ion-tab>
  <ion-tab [root]="todaySWorkoutPage" tabIcon="workout" tabTitle="Home" ></ion-tab>
  <ion-tab [root]="myProgressPage" tabIcon="progress" tabTitle="Progress"></ion-tab>
 
</ion-tabs>