<!--
  Generated template for the SlidesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content class="tutorial-page">
  <ion-slides pager (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let slide of slidesList">
      <img [src]="slide.image" class="slide-image" />
      <ion-grid class="slider-inner-content">
        <ion-label>{{slide.description}}</ion-label>
      </ion-grid>
      <button class="pull-left" ion-button clear icon-end  (click) = "goToLoginPage()">
        SKIP
      </button>
      <button class="pull-right" ion-button clear icon-end (click) = "goToSlide()">
        NEXT
      </button>
    </ion-slide>

    <ion-slide>
      <img src="assets/imgs/SliderThree.png"  class="slide-image" />
      <ion-grid class="slider-inner-content">
          <ion-label>{{thirdSlideDescription}}</ion-label>
        
        <button  class="pull-center" ion-button  style="font-size: larger; color: white; background-color: #fc5e36; " (click) = "goToLoginPage()">
         LOG IN
        </button>
      </ion-grid>
    </ion-slide>

  </ion-slides>
  <!-- <ion-slides pager>
    <ion-slide class="slide1">


      <button ion-button large clear icon-end color="primary">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>


    </ion-slide>

  </ion-slides> -->

</ion-content>